<html>
<head>
	<script src="/js/jquery-1.11.3.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
  	<thead>
      <tr>
        <th>url</th>
        <th>login_uri</th>
        <th>check_in_uri</th>
        <th>status</th>
        <th>last_check_in_time</th>
        <th>operation</th>
      </tr>
    </thead>
	<tbody>
#foreach($one in $list)
	 <tr>
	   <td>${one.url}</td>
	   <td>${one.loginUri}</td>
	   <td>${one.checkInUri}</td>
	   <td>${one.status}</td>
	   <td>${one.formatDate}</td>
	   <td><input class="off-btn" type="button" url="${one.url}" value="下线" /><input class="checkin-btn" type="button" url="${one.url}" value="checkin" /> </td>
	 </tr>
#end
	</tbody>
</table>

<form method="post">
  <fieldset class="form-group">
    <label for="exampleInputEmail1">url</label>
    <input type="text" class="form-control" id="txt-url" placeholder="Enter url">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputPassword1">login_uri</label>
    <input type="text" class="form-control" id="txt-login_uri" placeholder="login_uri">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputPassword1">check_in_uri</label>
    <input type="text" class="form-control" id="txt-check_in_uri" placeholder="check_in_uri">
  </fieldset>
  <button type="button" id="add-btn" class="btn btn-primary">Submit</button>
</form>

<script>
	$(".off-btn").click(function(){
		var url = $(this).attr("url");
		$.ajax({
			url: '/api/sock/off',
			data: {url: url},
			success: function() {
				console.log("dd");
			}
		});
	});
	
	$(".checkin-btn").click(function(){
		var url = $(this).attr("url");
		$.ajax({
			url: '/api/sock/checkinone',
			data: {url: url},
			success: function() {
				console.log("dd");
			}
		});
	});
	
	$("#add-btn").click(function(){
		var url = $("#txt-url").val();
		var loginUri = $("#txt-login_uri").val();
		var checkInUri = $("#txt-check_in_uri").val();
		console.log(url);
		$.ajax({
			url: '/api/sock/add',
			type: 'post',
			data: {url: url, loginUri: loginUri, checkInUri: checkInUri},
			success: function() {
				console.log("dd");
			}
		});
	});
</script>
</body>
</html>