<html>
<head>
	<script src="/js/jquery-1.11.3.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
  	<thead>
      <tr>
        <th>url</th>
        <th>login_uri</th>
        <th>check_in_uri</th>
        <th>status</th>
        <th>last_check_in_time</th>
        <th>operation</th>
      </tr>
    </thead>
	<tbody>
#foreach($one in $list)
	 <tr>
	   <td>${one.url}</td>
	   <td>${one.loginUri}</td>
	   <td>${one.checkInUri}</td>
	   <td>${one.status}</td>
	   <td>${one.formatDate}</td>
	   <td><input type="button" value="点一下" /> </td>
	 </tr>
#end
</body>
</html>