<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:*properties/config.properties" />
    <context:component-scan base-package="springmvc"></context:component-scan>
    <import resource="classpath:spring/app-*.xml" />

    <mvc:annotation-driven />

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

    <bean id="demoExceptionResolver" class="springmvc.exception.DemoExceptionResolver">
        <property name="order" value="1" />
        <property name="defaultStatusCode" value="404" />
    </bean>
    <bean id="defaultHandlerExceptionResolver"
        class="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver"></bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/api/show" />
            <bean class="springmvc.interceptor.TraceLoggerInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="velocityConfig"
        class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath">
            <value>/</value>
        </property>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">utf-8</prop>
                <prop key="output.encoding">utf-8</prop>
                <prop key="contentType">text/html;charset=utf-8</prop>
            </props>
        </property>
    </bean>

    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <!-- 如果不设置这个，response header默认的charset会是iso-8859-1, 具体参见AbstractView -->
        <property name="contentType" value="text/html;charset=utf-8" />
        <property name="prefix">
            <value>/WEB-INF/vm/</value>
        </property>
        <property name="suffix">
            <value>.vm</value>
        </property>
        <property name="exposeSpringMacroHelpers">
            <value>true</value>
        </property>
    </bean>

</beans>