<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Insert title here</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2 class="sub-header">这个是接口响应时间统计</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>date</th>
          <th>type</th>
          <th>uri</th>
          <th>ms_200</th>
          <th>ms_500</th>
          <th>ms_1000</th>
          <th>ms_2000</th>
          <th>req_count</th>
        </tr>
      </thead>
      <tbody>
        #foreach( $one in $datas )
        <tr>
          <td>$one.id</td>
          <td>$one.date</td>
          <td>$one.type</td>
          <td>$one.uri</td>
          <td>$one.ms200</td>
          <td>$one.ms500</td>
          <td>$one.ms1000</td>
          <td>$one.ms2000</td>
          <td>$one.reqCount</td>
        </tr>
        #end
      </tbody>
    </table>
</body>
</html>